* {
  margin: 0%;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
li {
  text-decoration: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#frame {
  width: 400px;
  height: 400px;
  background: rgb(97, 53, 53);
  border: 1px solid black;
}
#container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  scroll-behavior: smooth;
}
